Node-Red/flows.json
[{"id":"602750e2.61173","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2598928a.412e4e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bdd437b3.a1a888","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"892453ff.22ca8","type":"mqtt-broker","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b8fb767a.a7a158","type":"ui_tab","name":"Zserver","icon":"dashboard","disabled":false,"hidden":false},{"id":"8a93c101.555b2","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0f9ca3","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#0f9ca3","edited":true},"page-titlebar-backgroundColor":{"value":"#0f9ca3","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#15dfe9","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0f9ca3","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial Black,Arial Black,Gadget,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d748f9a0.c59c68","type":"ui_group","name":"Default","tab":"b8fb767a.a7a158","order":2,"disp":false,"width":"3","collapse":false},{"id":"e3edd398.3dbc5","type":"mqtt-broker","name":"Zack-Network","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8d710136.9d261","type":"ui_group","name":"Graph","tab":"b8fb767a.a7a158","order":3,"disp":false,"width":"12","collapse":false},{"id":"aefe4b15.5adba8","type":"ui_group","name":"CO2 Sensor","tab":"b8fb767a.a7a158","order":4,"disp":false,"width":"6","collapse":false},{"id":"3562c269.e2a34e","type":"ui_group","name":"Switch LED","tab":"b8fb767a.a7a158","order":1,"disp":true,"width":"3","collapse":false},{"id":"b94ac845.0f5fa8","type":"ui_spacer","name":"spacer","group":"aefe4b15.5adba8","order":3,"width":1,"height":1},{"id":"26a325cc.dc6bda","type":"mqtt in","z":"602750e2.61173","name":"","topic":"esp01/tempA","qos":"2","datatype":"auto","broker":"e3edd398.3dbc5","nl":false,"rap":true,"rh":0,"x":250,"y":500,"wires":[["1fa87ef1.141741"]]},{"id":"21593734.512a48","type":"mqtt out","z":"602750e2.61173","name":"","topic":"esp01/led","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3edd398.3dbc5","x":440,"y":320,"wires":[]},{"id":"80493fdb.61184","type":"file in","z":"bdd437b3.a1a888","name":"","filename":"/data/traffic.csv","format":"utf8","chunk":false,"sendError":false,"x":1040,"y":260,"wires":[["403cacd6.e635b4"]]},{"id":"351a1e11.d8f702","type":"inject","z":"bdd437b3.a1a888","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":800,"y":260,"wires":[["80493fdb.61184","4bda21b5.0f5d2"]]},{"id":"298e9b3a.923204","type":"function","z":"bdd437b3.a1a888","name":"keys","func":"var a = Object.keys(msg)\nvar newmsg = {payload: a }\nreturn newmsg;","outputs":1,"noerr":0,"x":1410,"y":220,"wires":[["428e6715.5a5e28"]]},{"id":"428e6715.5a5e28","type":"debug","z":"bdd437b3.a1a888","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1570,"y":220,"wires":[]},{"id":"403cacd6.e635b4","type":"split","z":"bdd437b3.a1a888","name":"row","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1250,"y":260,"wires":[["298e9b3a.923204","71a3adb0.d93c04","cef3f982.9f4c78"]]},{"id":"4ff8729b.4577ac","type":"delay","z":"bdd437b3.a1a888","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":360,"wires":[["d3a0719.565f59"]]},{"id":"cef3f982.9f4c78","type":"switch","z":"bdd437b3.a1a888","name":"Publish Message","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Publish Message","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":360,"wires":[["4ff8729b.4577ac"]]},{"id":"d3a0719.565f59","type":"switch","z":"bdd437b3.a1a888","name":"factory/dep/..","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"factory/department1/section1/plc","vt":"str"},{"t":"cont","v":"factory/department3/section3/plc","vt":"str"},{"t":"cont","v":"factory/department1/section1/hydraulic_valve","vt":"str"},{"t":"cont","v":"factory/department3/section3/hydraulic_valve","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":1170,"y":360,"wires":[["f9d22c74.3d93e","cfa6ebeb.ef4e98","e8fea0d9.1b527"],["f9d22c74.3d93e","e8fea0d9.1b527","cfa6ebeb.ef4e98"],["f9d22c74.3d93e","cfa6ebeb.ef4e98","c8d9f7df.3a84f8"],["f9d22c74.3d93e","cfa6ebeb.ef4e98","c8d9f7df.3a84f8"],[]]},{"id":"f9d22c74.3d93e","type":"split","z":"bdd437b3.a1a888","name":"spazio \" \"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":480,"wires":[["be0ea296.0fd8c"]]},{"id":"be0ea296.0fd8c","type":"switch","z":"bdd437b3.a1a888","name":"7b22..","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"7b22","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":480,"wires":[["a65ff1c3.6059d"]]},{"id":"a65ff1c3.6059d","type":"function","z":"bdd437b3.a1a888","name":"HEX to JSON","func":"var buf2 = Buffer.from( msg.payload , 'hex');\nvar a = {payload: buf2.toString() };\nreturn a;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":480,"wires":[["f98f9bc3.c3f988"]]},{"id":"f98f9bc3.c3f988","type":"json","z":"bdd437b3.a1a888","name":"","property":"payload","action":"","pretty":false,"x":890,"y":540,"wires":[["ec62db67.78da88"]]},{"id":"ec62db67.78da88","type":"function","z":"bdd437b3.a1a888","name":"Value","func":"var value = msg.payload['value'];\nflow.set('value',value);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":540,"wires":[[]]},{"id":"a9679179.6c4e9","type":"mqtt out","z":"bdd437b3.a1a888","name":"TinghSpeak","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"892453ff.22ca8","x":1770,"y":380,"wires":[]},{"id":"a8bf2a0.12a85d8","type":"function","z":"bdd437b3.a1a888","name":"plc send","func":"var values = flow.get(\"value\");\nvar newMsg = { payload: values , topic: 'channels/1361212/publish/fields/field1/VEEIO095X2BLKO86'};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":340,"wires":[["e0545f46.3a37"]]},{"id":"49d2c9d5.3424b8","type":"function","z":"bdd437b3.a1a888","name":"Valve send","func":"var values = flow.get(\"value\");\nvar newMsg = { payload: values , topic: 'channels/1361212/publish/fields/field2/VEEIO095X2BLKO86'};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":380,"wires":[["e0545f46.3a37"]]},{"id":"e0545f46.3a37","type":"debug","z":"bdd437b3.a1a888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","statusVal":"","statusType":"auto","x":1750,"y":340,"wires":[]},{"id":"71a3adb0.d93c04","type":"debug","z":"bdd437b3.a1a888","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1450,"y":260,"wires":[]},{"id":"4bda21b5.0f5d2","type":"function","z":"bdd437b3.a1a888","name":"Value","func":"\nflow.set('value',0);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":180,"wires":[[]]},{"id":"cfa6ebeb.ef4e98","type":"debug","z":"bdd437b3.a1a888","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":440,"wires":[]},{"id":"e8fea0d9.1b527","type":"delay","z":"bdd437b3.a1a888","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1400,"y":340,"wires":[["a8bf2a0.12a85d8"]]},{"id":"c8d9f7df.3a84f8","type":"delay","z":"bdd437b3.a1a888","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1400,"y":380,"wires":[["49d2c9d5.3424b8"]]},{"id":"2ce70a54.b3abf6","type":"ui_chart","z":"602750e2.61173","name":"","group":"8d710136.9d261","order":1,"width":"12","height":"4","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"35","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#01afe9","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":580,"wires":[[]]},{"id":"1fa87ef1.141741","type":"split","z":"602750e2.61173","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":500,"wires":[["edb8cc15.06187"]]},{"id":"edb8cc15.06187","type":"switch","z":"602750e2.61173","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"C","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":500,"wires":[[],["2ce70a54.b3abf6","f144e06a.13a49"]]},{"id":"3e14fa1d.38ae66","type":"ui_switch","z":"602750e2.61173","name":"","label":"ESP-01","tooltip":"","group":"3562c269.e2a34e","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":true,"x":240,"y":320,"wires":[["21593734.512a48"]]},{"id":"5715d40b.fe2e4c","type":"ui_toast","z":"602750e2.61173","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1430,"y":1020,"wires":[]},{"id":"9c738b2d.ad0de8","type":"inject","z":"602750e2.61173","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1220,"y":980,"wires":[["5715d40b.fe2e4c"]]},{"id":"b71d366b.08b338","type":"ui_gauge","z":"602750e2.61173","name":"","group":"d748f9a0.c59c68","order":1,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"20","max":"35","colors":["#0036b3","#409fce","#b02727"],"seg1":"","seg2":"","x":930,"y":700,"wires":[]},{"id":"9eacc683.5982d8","type":"mqtt in","z":"602750e2.61173","name":"","topic":"envy/temp","qos":"2","datatype":"auto","broker":"e3edd398.3dbc5","nl":false,"rap":true,"rh":0,"x":240,"y":620,"wires":[["88ea78b7.d386b8"]]},{"id":"6ad27d2a.1e8f04","type":"mqtt in","z":"602750e2.61173","name":"","topic":"envy/hum","qos":"2","datatype":"auto","broker":"e3edd398.3dbc5","nl":false,"rap":true,"rh":0,"x":240,"y":780,"wires":[["f8695c12.58774","59bb80d1.60baa"]]},{"id":"d9538cf9.a1cea","type":"switch","z":"602750e2.61173","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"C","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":620,"wires":[[],["2ce70a54.b3abf6","f144e06a.13a49"]]},{"id":"88ea78b7.d386b8","type":"split","z":"602750e2.61173","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":620,"wires":[["d9538cf9.a1cea"]]},{"id":"f8695c12.58774","type":"ui_chart","z":"602750e2.61173","name":"","group":"8d710136.9d261","order":2,"width":"12","height":"4","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#049a1d","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":440,"y":780,"wires":[[]]},{"id":"fc7efe82.944e","type":"mqtt in","z":"602750e2.61173","name":"","topic":"envy/air","qos":"2","datatype":"auto","broker":"e3edd398.3dbc5","nl":false,"rap":true,"rh":0,"x":230,"y":1060,"wires":[["5be3080.c2837f8","831e60ea.77d9d"]]},{"id":"5be3080.c2837f8","type":"ui_chart","z":"602750e2.61173","name":"","group":"8d710136.9d261","order":3,"width":"12","height":"4","label":"Air Quality MQ-2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0faa03","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":460,"y":1060,"wires":[[]]},{"id":"8224fe58.ed432","type":"mqtt in","z":"602750e2.61173","name":"","topic":"esp01/tempD","qos":"2","datatype":"auto","broker":"e3edd398.3dbc5","nl":false,"rap":true,"rh":0,"x":250,"y":560,"wires":[["64124e02.881f3"]]},{"id":"a4c96831.bac878","type":"mqtt in","z":"602750e2.61173","name":"","topic":"esp01/humD","qos":"2","datatype":"auto","broker":"e3edd398.3dbc5","nl":false,"rap":true,"rh":0,"x":250,"y":740,"wires":[["f8695c12.58774","59bb80d1.60baa"]]},{"id":"64124e02.881f3","type":"split","z":"602750e2.61173","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":560,"wires":[["d6874084.52471"]]},{"id":"d6874084.52471","type":"switch","z":"602750e2.61173","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"C","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":560,"wires":[[],["2ce70a54.b3abf6","f144e06a.13a49"]]},{"id":"831e60ea.77d9d","type":"debug","z":"602750e2.61173","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":1100,"wires":[]},{"id":"b1ef4fa3.69026","type":"mqtt out","z":"602750e2.61173","name":"","topic":"envy/led","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3edd398.3dbc5","x":440,"y":400,"wires":[]},{"id":"d6c65106.5c127","type":"ui_switch","z":"602750e2.61173","name":"","label":"ENVY","tooltip":"","group":"3562c269.e2a34e","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":230,"y":400,"wires":[["b1ef4fa3.69026"]]},{"id":"b03dc084.d7a64","type":"mqtt in","z":"602750e2.61173","name":"","topic":"esp01/CO2","qos":"2","datatype":"auto","broker":"e3edd398.3dbc5","nl":false,"rap":true,"rh":0,"x":250,"y":1140,"wires":[["63f39a54.d92ff4","ee2fe87b.d586b8","1a7307.3aee7cfa","fd5d46c.6f116b8","243c1bc4.3c4ab4"]]},{"id":"63f39a54.d92ff4","type":"ui_chart","z":"602750e2.61173","name":"","group":"aefe4b15.5adba8","order":1,"width":"0","height":"0","label":"CO2 (ppm)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0faa03","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":450,"y":1140,"wires":[[]]},{"id":"ee2fe87b.d586b8","type":"debug","z":"602750e2.61173","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":1180,"wires":[]},{"id":"5ae474d2.5e0c6c","type":"mqtt in","z":"602750e2.61173","name":"","topic":"esp01/TVOC","qos":"2","datatype":"auto","broker":"e3edd398.3dbc5","nl":false,"rap":true,"rh":0,"x":250,"y":1220,"wires":[["69ad6e36.9257b","58fb02d8.0b080c"]]},{"id":"69ad6e36.9257b","type":"ui_chart","z":"602750e2.61173","name":"","group":"aefe4b15.5adba8","order":2,"width":"0","height":"0","label":"TVOC (ppb)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0faa03","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":450,"y":1220,"wires":[[]]},{"id":"58fb02d8.0b080c","type":"debug","z":"602750e2.61173","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":1260,"wires":[]},{"id":"141977fa.54d628","type":"ui_gauge","z":"602750e2.61173","name":"","group":"d748f9a0.c59c68","order":1,"width":"3","height":"3","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#0036b3","#409fce","#b02727"],"seg1":"","seg2":"","x":920,"y":780,"wires":[]},{"id":"1a7307.3aee7cfa","type":"ui_gauge","z":"602750e2.61173","name":"","group":"d748f9a0.c59c68","order":1,"width":"3","height":"3","gtype":"compass","title":"CO2","label":"ppm","format":"{{value}}","min":"0","max":"5000","colors":["#0036b3","#409fce","#b02727"],"seg1":"","seg2":"","x":610,"y":1140,"wires":[]},{"id":"8d5b7b84.0cec68","type":"inject","z":"602750e2.61173","name":"RELAY OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":990,"y":1020,"wires":[["5b3df7b3.278218"]]},{"id":"5b3df7b3.278218","type":"http request","z":"602750e2.61173","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://esp-38ac8b.station/RELAY=OFF","tls":"","persist":false,"proxy":"","authType":"","x":1210,"y":1060,"wires":[["5715d40b.fe2e4c"]]},{"id":"d575d5fc.25eeb8","type":"http request","z":"602750e2.61173","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://esp-38ac8b.station/RELAY=ON","tls":"","persist":false,"proxy":"","authType":"","x":1210,"y":1020,"wires":[["5715d40b.fe2e4c"]]},{"id":"963583cb.2dc04","type":"inject","z":"602750e2.61173","name":"RELAY ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":980,"y":980,"wires":[["d575d5fc.25eeb8"]]},{"id":"558c731c.0cdadc","type":"ui_switch","z":"602750e2.61173","name":"","label":"RELAY","tooltip":"","group":"3562c269.e2a34e","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":860,"y":1080,"wires":[["97fa2d38.1e211"]]},{"id":"97fa2d38.1e211","type":"switch","z":"602750e2.61173","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":1080,"wires":[["d575d5fc.25eeb8"],["5b3df7b3.278218"]]},{"id":"fd5d46c.6f116b8","type":"switch","z":"602750e2.61173","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1180,"wires":[["a69d948a.cd1de8","fbad1534.359c28"]]},{"id":"a69d948a.cd1de8","type":"debug","z":"602750e2.61173","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":1260,"wires":[]},{"id":"fbad1534.359c28","type":"trigger","z":"602750e2.61173","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":890,"y":1160,"wires":[["97fa2d38.1e211","c4a5619a.a166b"]]},{"id":"c4a5619a.a166b","type":"debug","z":"602750e2.61173","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":1180,"wires":[]},{"id":"abbb7bf9.590ec8","type":"csv","z":"2598928a.412e4e","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"time, temperature, humidity, CO2","skip":"0","strings":false,"include_empty_strings":"","include_null_values":"","x":550,"y":420,"wires":[["81e13b4d.ac1d18"]]},{"id":"32783a39.d86d86","type":"link in","z":"2598928a.412e4e","name":"Temperature","links":["50b2d002.e0d6b"],"x":35,"y":420,"wires":[["ff50b429.3ebac8"]]},{"id":"e83e659b.b3a688","type":"debug","z":"2598928a.412e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":360,"wires":[]},{"id":"f144e06a.13a49","type":"function","z":"602750e2.61173","name":"Set Temperature","func":"var topic = msg.topic;\n\nif(topic == 'esp01/tempA'){\n    flow.set('esp01_tempA',msg.payload);\n}else if(topic == 'esp01/tempD'){\n    flow.set('esp01_tempD',msg.payload);\n}else if(topic == 'envy/temp'){\n    flow.set('envy_temp',msg.payload);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":540,"wires":[[]]},{"id":"5c66b054.4d135","type":"function","z":"602750e2.61173","name":"Calulate Avarage Temperature","func":"var tempA = parseFloat(flow.get('esp01_tempA'));\nvar tempB = parseFloat(flow.get('esp01_tempD'));\nvar tempC = parseFloat(flow.get('envy_temp'));\n\nvar mid = 0.0;\nmid = (tempA + tempB + tempC)/3;\n\nmid = Math.round(mid*100)/100;\n\nvar midtemp = {payload: mid, topic: \"mid temp\"};\n\nflow.set('temp',mid);\n\nreturn midtemp;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":680,"wires":[["b71d366b.08b338","2ce70a54.b3abf6","50b2d002.e0d6b","e76c44ee.0cd978"]]},{"id":"e6086918.d62cc8","type":"inject","z":"602750e2.61173","name":"","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":250,"y":680,"wires":[["d1fdb7bb.e7f4e8","73ad0b2f.b601a4","5c66b054.4d135"]]},{"id":"59bb80d1.60baa","type":"function","z":"602750e2.61173","name":"Set Humidity","func":"var topic = msg.topic;\n\nif(topic == 'esp01/humD'){\n    flow.set('esp01_humD',msg.payload);\n}else if(topic == 'envy/hum'){\n    flow.set('envy_hum',msg.payload);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":740,"wires":[[]]},{"id":"d1fdb7bb.e7f4e8","type":"function","z":"602750e2.61173","name":"Calulate Avarage Humidity","func":"var humA = parseFloat(flow.get('esp01_humD'));\nvar humB = parseFloat(flow.get('envy_hum'));\n\n\nvar mid = 0.0;\nmid = (humA+humB)/2;\nmid = Math.round(mid*100)/100;\n\nvar midhum = {payload: mid, topic: \"mid hum\"};\n\nflow.set('hum',mid);\n\nreturn midhum;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":740,"wires":[["141977fa.54d628","f8695c12.58774","dc11c11c.baf8d","b13852b4.26fd2"]]},{"id":"50b2d002.e0d6b","type":"link out","z":"602750e2.61173","name":"Temperature","links":["32783a39.d86d86"],"x":875,"y":620,"wires":[]},{"id":"dc11c11c.baf8d","type":"link out","z":"602750e2.61173","name":"Humidity","links":["586c4798.d94f68"],"x":875,"y":820,"wires":[]},{"id":"586c4798.d94f68","type":"link in","z":"2598928a.412e4e","name":"Humidity","links":["dc11c11c.baf8d"],"x":35,"y":480,"wires":[["64be86f6.98f8f8"]]},{"id":"73ad0b2f.b601a4","type":"link out","z":"602750e2.61173","name":"Time","links":["2175e7c.9757518"],"x":355,"y":660,"wires":[]},{"id":"3bbee059.37346","type":"file","z":"2598928a.412e4e","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1130,"y":420,"wires":[[]]},{"id":"b2b76dff.a895f","type":"function","z":"2598928a.412e4e","name":"Filname","func":"var d = new Date();\n\nvar day = d.getDate().toString();\nvar month = (d.getMonth()+1).toString();\nvar year = d.getFullYear().toString();\n\nvar path = \"/data/storage/\";\nvar res = path.concat(day);\nres = res.concat(\"_\");\nres = res.concat(month);\nres = res.concat(\"_\");\nres = res.concat(year);\nvar n = d.getTimezoneOffset();\n\nmsg.filename = res;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":420,"wires":[["721183b4.22d91c","3bbee059.37346"]]},{"id":"721183b4.22d91c","type":"debug","z":"2598928a.412e4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":500,"wires":[]},{"id":"2175e7c.9757518","type":"link in","z":"2598928a.412e4e","name":"Time","links":["73ad0b2f.b601a4"],"x":35,"y":360,"wires":[["3d067bb4.5a5d44"]]},{"id":"3d067bb4.5a5d44","type":"function","z":"2598928a.412e4e","name":"Set Time","func":"var d = new Date();\n\nvar minute = d.getMinutes().toString();\nvar hour = d.getHours().toString();\nvar seconds = d.getSeconds().toString();\n\nvar res = hour.concat(\":\");\nres = res.concat(minute);\nres = res.concat(\":\");\nres = res.concat(seconds);\nmsg.payload = res;\nmsg.topic = \"time\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":360,"wires":[["f70ae14d.9501d"]]},{"id":"64be86f6.98f8f8","type":"function","z":"2598928a.412e4e","name":"Set Humidity","func":"\n    flow.set('hum',msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":480,"wires":[[]]},{"id":"ff50b429.3ebac8","type":"function","z":"2598928a.412e4e","name":"Set Temperature","func":"\n    flow.set('temp',msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":420,"wires":[[]]},{"id":"f70ae14d.9501d","type":"function","z":"2598928a.412e4e","name":"Sequence","func":"var array = [msg.payload,flow.get('temp'),flow.get('hum'),flow.get('CO2')];\nmsg.payload = array;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":420,"wires":[["abbb7bf9.590ec8","e83e659b.b3a688"]]},{"id":"81e13b4d.ac1d18","type":"function","z":"2598928a.412e4e","name":"Buffer","func":"var buffer = flow.get('buffer');\nvar count = flow.get('count');\nvar maxcount = 10;\n\nif(count < maxcount){\n buffer = buffer.concat(msg.payload);  \n count++;\n flow.set('count', count);\n flow.set('buffer',buffer);\n}else if(count >= maxcount){\n  msg.payload = buffer;\n  count = 0;\n  buffer = \"\";\n  flow.set('count', count);\n  flow.set('buffer',buffer);\n  return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nflow.set('count', 0);\nflow.set('buffer',\"\");","finalize":"","libs":[],"x":730,"y":420,"wires":[["b2b76dff.a895f"]]},{"id":"c32cea60.fd2248","type":"link in","z":"2598928a.412e4e","name":"CO2","links":["243c1bc4.3c4ab4"],"x":35,"y":540,"wires":[["8bedafd5.5384b"]]},{"id":"8bedafd5.5384b","type":"function","z":"2598928a.412e4e","name":"Set CO2","func":"\n    flow.set('CO2',msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":540,"wires":[[]]},{"id":"243c1bc4.3c4ab4","type":"link out","z":"602750e2.61173","name":"CO2","links":["c32cea60.fd2248"],"x":315,"y":1100,"wires":[]},{"id":"e76c44ee.0cd978","type":"mqtt out","z":"602750e2.61173","name":"","topic":"avarage/temp","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3edd398.3dbc5","x":940,"y":660,"wires":[]},{"id":"b13852b4.26fd2","type":"mqtt out","z":"602750e2.61173","name":"","topic":"avarage/hum","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3edd398.3dbc5","x":930,"y":740,"wires":[]}]